:root{
    --c1:#9FAFA8;
    --c2:#59635A;
    --c3:#EDC98C;
    --c4:#d79e3d;
}

::-webkit-scrollbar{
    width: 9px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--c2);
    
}

::-webkit-scrollbar-track{
    background-color:#33333317;
}

html {
    scroll-behavior: smooth;
}

.whatsapp {
    position: fixed;
    width: 56px;
    height: 56px;
    bottom: 30px;
    right: 30px;
    background-color: #3bab21;
    color: #FFF;
    border-radius: 50px;
    text-align: revert;
    font-size: 30px;
    z-index: 3;
    text-decoration: none;
}

.whatsapp-icon {
    margin-top: 13px;
}

i.fa.fa-whatsapp.whatsapp-icon {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
}

a.inicio {
    position: fixed;
    width: 56px;
    height: 56px;
    bottom: 75px;
    right: 10px;
    z-index: 3;
    text-decoration: none;
    color: var(--c3);
    font-size: x-large;
}

body{
    margin: 0;
    background-image: url(img/111.png);
    background-repeat: no-repeat;
    background-position: -974px 256px;
}

#inicio {
    width: 100%;
    height: 170px;
    transition: all 1s;
}

hr{
    border-top: 1px solid var(--c1);
    margin: 0;
}

header {
    min-height: 175px;
    width: 100%;
    margin: auto;
    padding-top: 15px;
    position: fixed;
    background: white; 
}

nav {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: flex-end;
    margin: auto;
}

.banner {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--c1), 50%, var(--c2));
}

img.logo {
    position: absolute;
    top: 14px;
    left: 4%;
    height: 162px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 3px;
}

.t1 {
    font-weight: 300;
    font-size: larger;
}

.t2 {
    font-weight: 400;
}

.titulo span{
    display: flex;
}

h1, h2, h3, p{
    margin: 0;
}

h3 {
    font-weight: 300;
    font-size:small;
}

main {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    align-items: flex-start; 
}

/* -- NAV -- */

.nav-pedido {
    min-height: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url(img/1bf436788b275088a0072b8a3e4df363.png);
    background-repeat: no-repeat;
    background-size: 545px;
    background-position: right -75px top -83px;
}

.cont-pedido {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 17px;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: var(--c1);
    font-size: large;
}

.btn, .valor{
    display: flex;
    gap: 20px
} 

.btn{
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}
.valor {
    width: 10%;
    justify-content: start;
    gap: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--c2);
}

.bt {
    color: white;
    letter-spacing: 0.5px;
    border-radius: 15px;
    border: none;
    width: 110px;
    height: 30px;
    cursor: pointer;
}

.bt:hover {
    box-shadow: #c1beb861 0 3px 5px 0;
}

button.bt.ver-resumen {
    background-color: var(--c1);
}

button.bt.enviar-resumen, .fin {
    background-color: var(--c2);
}

.bt.cerrar, .bt.volver{
    display: none;
    background-color: var(--c2);
}

.cont-t.pedido-final{
    display: none;
}

.info-precio{
    display: none;
    margin-bottom: 5px;
}

.enviar-pedido, .info-precio{
    height: 0px;
    width: 100%;
    transition: all 1s ; 
    font-family: 'Nunito', sans-serif; 
    font-size: 0.9rem;
}

.info-cont, .info-cont-cerrar {
    width: 66%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    color: var(--c2);
}

.enviar-cont, .enviar-cont-cerrar {
    margin-top: 10px;
    align-items: center;
    display: none;
    justify-content: center;
    gap: 40px;
}

.enviar-cont, .info-cont{
    opacity: 0;
    transition: all 0.5s ;
}

.enviar-cont-cerrar, .info-cont-cerrar{
    transition: all 3s ;
}

.fila{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.label {
    display: flex;
    flex-direction: row;
    width: 260px;
    justify-content: end;
    gap: 5px;
}

.label input {
    height: fit-content;
    border: none;
    border-bottom: 1px solid var(--c1);
}

.label label {
    display: contents;
}

.asterisco{
    color: red;
}

form{
    margin-bottom: 15px;
}

.fila.btn {
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 15px;
    width: 35%;
}

.fila.btn label {
    width: 100%;
    display: flex;
    gap: 5px;
}

.fila.btn span p {
    text-align: end;
    color: var(--c1);
    margin-top: 2px;
}

.a-verPedido {
    width: auto;
    color: var(--c4);
    text-decoration: underline;
}

.enviar{
    background-color: var(--c3);
}

p.error {
    display: none;
    color: var(--c4)!important;
}

/* -- CATEGORIAS -- */

.categorias {
    float: left;
    width: 16%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.cat-buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 80%;
}

p.cat {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--c1);
    padding-left: 20px;
}

i.fa-solid.fa-magnifying-glass {
    color: var(--c2);
}

input.input-buscador {
    border: none;
    border-bottom: 1px solid var(--c1);
    margin-top: 15px;
    width: 80%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-top: 30px;
    width: 85%;
}

li {
    list-style: none;
    color: var(--c2);
    font-size: smaller;
    padding-left: 15px;
    height: 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

li:hover{
    background-color:  var(--c3);
    box-shadow: #c1beb861 0 3px 5px 0;
    box-sizing: border-box;
    letter-spacing: 1px;  
}

li:focus-visible, a:focus-visible{
    outline-style: none;
}

li:hover h3 {
    font-weight: 400;
    color: #4b4b4b;
}

.list-cat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    width: 100%;
}

a {
    display: flex;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    padding-top: 1px;
}

/* -- TOOL-TIP -- */

.tool-div{
    width: 42.5%;
    height: 100%;
}

.tool-tip-cont {
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tool-tip{
    height: 30px;
    width: max-content;
    padding: 10px;
    gap: 10px;
    align-self: center;
    box-shadow: #c1beb861 0 3px 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--c4);
    color: var(--c4);
    font-size: 0.9rem;
    font-family: 'Nunito', sans-serif;
}

.tool-arrow {
    align-self: center;
    border-bottom: 0 solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--c4);
}

.cerrar-tool{
    cursor: pointer;
}

/* -- TABLA -- */

.tabla {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    
}

.titulo-cat {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.cat-selec {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    color: #d79e3d;
    width: 100%;
}

.cont-t {
    display: flex;
    border-collapse: collapse;
}

tbody {
    min-width: 100%;
}

.productos{
    background-color: #9FAFA8;
    width: 80%;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.cabecera {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: small;
    text-transform: uppercase;
}

tr.li-prod:nth-of-type(odd) {
    background: #c1beb83d;
}

.tr-tablaFinal:nth-of-type(odd){
    background: #c1beb83d;
}

tr.li-prod, tr.tr-tablaFinal {
    height: 30px;
}

.prod{
    width: 20%;
    max-width: 20%;
}

.colum-min {
    width: 10%;
    max-width: 10%;
}

.colum-cen{
    text-align: center;
}

.smaller{
    font-size: smaller;
}
.hidden{
    display: none;
}

.prod-nom{
    padding-left: 5px;
}

.cantidades{
    background-color: #EDC98C;
    width: 20%;
}

th.nombre_column {
    font-weight: 400;
    padding: 2px 20px;
}

.cab {
    width: 150px;
    min-width: 100px;
    font-weight: 400;
}

th.cab.cab-pres {
    border-left: 5px solid white;
    
}

.cab-pres, .cab-pedido {
    width: 100px;
    background: var(--c4);
}

td.radio {
    text-align: center;
}

.cab-total{
    border-left: 5px solid white;
    background: var(--c2);
}

input.tipo-pres {
    margin: 0 15px;
}

input.cant-pedido {
    width: 80%;
    height: 100%;
    display: flex;
    padding: 0;
    margin: auto;
    border: none;
    text-align: center;
    align-self: center;
    background: transparent;
    font-size: medium;
}

input:focus-visible{
    outline: none;
    border: 1px solid var(--c3);
    border-radius: 8px;
    box-shadow: #c1beb861 0 3px 5px 0;
    box-sizing: border-box;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    top: -2px;
    left: -1px;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    top: -2px;
    left: -1px;
    background-color: var(--c2);
    content: '';
    display: inline-block;
    visibility: visible;
}

.tablaExel th, .tablaExel td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tablaExel th {
    background-color: #f2f2f2;
}


/* -- LOGIN -- */

.login, .redireccion {
    position: fixed;
    visibility: hidden; 
}

.login-active, .redir-active {
    z-index: 1;
    position: fixed;
    display: flex;
    visibility: visible;
    background: #a7a3a3b8;
    opacity: 1;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popupbody {
    width: auto;
    height: 60%;
    border-radius: 10px;
    background-color: white;
    position: relative;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 300;
    box-shadow: 5px 5px 10px #88888882;
    background-image: url(img/log-background.jpg);
    background-position: 186px 0px;
    background-size: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cerrar-log {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.login-cont, .opc-cont, .act-list, .act-monto, .act-log {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.titulo-log {
    font-size: xx-large;
    font-weight: 400;
    color: var(--c2);
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

.sub-log {
    margin-bottom: 10px;
}

.login-cont span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px
}

.login-cont span label {
    display: flex;
}

.login-cont span input{
    border: 1px solid var(--c1);
    border-radius: 5px;
    height: 25px;
    background: transparent;
}

.ver {
    position: relative;
    top: -23px;
    right: -65px;
    color: #888888;
    cursor: pointer;
}

.fa-regular.fa-eye-slash{
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

p.log-error {
    height: 20px;
}

.btn-simple{
    width: auto;
    background-color: transparent;
    border: 1px solid #c1c3c5;
    color: #888888;
    cursor: pointer;
    padding: 5px 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 300;
}

.btn-simple:hover{
    box-shadow: rgba(0, 0, 0, .2) 0 2px 3px;
}

/* -- LOGIN - OPC -- */

.opc-adm, .act-list, .act-monto, .act-log{
    display: none;
}

.opc-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    gap: 25px;
}

.btn-adm {
    margin-top: 5px;
    border: none;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 8px;
    color: #fff;
    FONT-FAMILY: 'Roboto', sans-serif;
    letter-spacing: 1px;
    transition: all .5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: #c1beb861 0 3px 5px 0;
}

.btn-adm:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9fafa89c;
    border-radius: 8px;
    z-index: -2;
}

.btn-adm:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--c1);
    transition: all .3s;
    border-radius: 8px;
    z-index: -1;
}
.btn-adm:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
}

.opc-list .btn-adm {
    background-color: var(--c1);
    width: 87%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 0.85rem;
}

.opc-list .btn-adm:before {
    background: var(--c2);
}

.volver-adm {
    WIDTH: 100px;
    height: 25px;
    margin-bottom: 0;
    border: 1px solid var(--c1);
    border-radius: 5px;
    background: var(--c1);
    color: white;
    letter-spacing: 0.5px;
}

.volver-adm:hover{
    border: 1px solid var(--c2);
    background: var(--c2);
}

/* -- UPLOAD -- */

.p-importante {
    font-weight: 400;
    color: var(--c2);
    letter-spacing: 0.7px;
}

.p-importante i.fa-solid.fa-triangle-exclamation {
    color: var(--c4);
}

.act-list.span-txt {
    gap: 10px;
    letter-spacing: 0.5px;
    margin: 20px 0 10px;
}

.act-list.span-txt div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.int-btn {
    background-color: transparent;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: #c1beb861 0 3px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    line-height: 30px;
    padding: 0 20px;
    letter-spacing: 0.5px;
}

.int-btn:hover {
    border: 1px solid #c1beb8;
    background-color: #c1beb8;
    color: white;
}

.int-btn:focus {
    border: 1px solid  #c1beb8; 
}

.form-upload, .form-monto, .form-log {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px 0;
    width: 80%;
    display: flex;
    align-items: center;
}

input#fileInput {
    margin-top: -5px;
    text-align-last: center;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.2px;
    color: #a7a3a3;
}

input[type="file"]::-webkit-file-upload-button{
    display: none;
}

label.int-btn {
    width: 60%;
    text-align: center;
    font-weight: 400;
    font-size: 0.85rem;
    border: 1px solid var(--c3);
}

label.int-btn:hover {
    background: var(--c3);
    border: 1px solid var(--c3);
}

input.int-btn{
    background-color: white;
}

input.int-btn:hover, input.int-btn:focus{
    border: 1px solid var(--c3);
    background-color: white;
    color: inherit;

}
.selec-arch {
    font-family: 'Roboto', sans-serif;
}



.msj-estado {
    display: flex;
    align-items: center;
    gap: 10px;
}

.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#ffa516);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13{ 
    100%{transform: rotate(1turn)}
}

/* -- MONTO -- */

.span-actual {
    text-align: center;
    margin-top: 20px;
}

/* -- ACT-LOG -- */

.form-log span{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form-log span input {
    width: 45%;
}

.ver.log{
    top: -33px;
    right: -133px;
}

/* -- REDIR -- */

.redire{
    width: 390px;
    height: auto;
}

.redir-cont{
    width: auto;
    height: auto;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin: 30px 10px 25px 
}

.ir-wapp {
    width: 70px;
    align-self: center;
}

.ir-wapp .adm {
    justify-content: center;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 1500px){
    main{
        flex-direction: column;
        align-items: center;
    }

    .nav-pedido{
        background-position: right -129px top -83px;
    }

    .categorias{
        flex-direction: row;
        width: 90%;
        align-items: center;
        margin: 0;
    }

    .cat-buscador{
        width: 25%;
        gap: 0;
    }

    .input-buscador{
        width: 70%;
    }

    .list-cat{
        width: 100%;
        margin-left: 50px;
    }

    ul {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, minmax(160px, max-content));
        flex-direction: column;
        gap: 5px 20px;
        padding: 0;
        width: 100%;
    }
    
    li {
        padding: 5px;
    }
}

@media only screen and (max-width: 1280px){
    main, header{
        display: none;
    }
    .mobile{
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        
    }

    .mb-cont {
        width: 60%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .mb-cont img {
        width: 70%;
        margin-bottom: 15px;
    }

    .mb-cont p {
        font-family: 'Roboto';
        text-align: center;
        font-size: small;
    }
}